{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container-fluid">
        <main role="main" class="container">
        <table class="table table-striped mx-auto">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Call ID</th>
                    <th>User ID</th>
                    <th>User Principal Name</th>
                    <th>User Display Name</th>
                    <th>Start Date Time</th>
                    <th>End Date Time</th>
                    <th>Duration</th>
                    <th>Charge</th>
                    <th>Call Type</th>
                    <th>Currency</th>
                    <th>Callee Number</th>
                    <th>Usage Country Code</th>
                    <th>Tenant Country Code</th>
                    <th>Connection Charge</th>
                    <th>Caller Number</th>
                    <th>Destination Context</th>
                    <th>Destination Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.callId }}</td>
                        <td>{{ row.userId }}</td>
                        <td>{{ row.userPrincipalName }}</td>
                        <td>{{ row.userDisplayName }}</td>
                        <td>{{ row.startDateTime }}</td>
                        <td>{{ row.endDateTime }}</td>
                        <td>{{ row.duration }}</td>
                        <td>{{ row.charge }}</td>
                        <td>{{ row.callType }}</td>
                        <td>{{ row.currency }}</td>
                        <td>{{ row.calleeNumber }}</td>
                        <td>{{ row.usageCountryCode }}</td>
                        <td>{{ row.tenantCountryCode }}</td>
                        <td>{{ row.connectionCharge }}</td>
                        <td>{{ row.callerNumber }}</td>
                        <td>{{ row.destinationContext }}</td>
                        <td>{{ row.destinationName }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}